@page
@model WebApp.BattleShip.Pages.LoadGames


<link rel="stylesheet" href="css/style.css">

<div class="centered">
    @foreach (var item in Model.Games)
    {
        <form asp-page="LoadGames" asp-page-handler="GameLoading" method="post">
            <input type="hidden" name="GameId" value="@item.BattleShipId">
            <input class="btn-outline-dark menu" type="submit" value="@item.Name">
        </form>
    }

    <form asp-page="MainMenu" method="post">
        <input class="btn-outline-danger menu" type="submit" value="Main Menu">
    </form>
</div>


@section scripts {
    <script type="module" src="js/Background/Background.js"></script>
}